body{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/4e0cc328008799.56e41b35c50a5.gif);
    background-size: cover;
    background-repeat: no-repeat;
    }
.profile {
    width: 300px;
    height: 300px;
    left: 800px;
    background-image: url(kita-doodle-kita-ikuyo-doodle.gif);
    background-size: cover;
    border-radius: 50%;
    position: relative;
}
.notify{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 35px;
}
.move-display{
    display: flex;
    justify-content: center;
}
.displayername{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.picturee{
    display: flex;
    justify-content: center;
}
.list{
    display: flex;
    justify-content: center;
}
.adder{
    display: flex;
    justify-content: center;
}
.table{
    display: flex;
    justify-content: center;
}
.Back{
    width: 50px;
    height: 50px;
}